* {
  padding: 0;
  margin: 0;
}

:root {
  --size: 1;
  --black: #000000;
  --background: #e4e0ce;
  --button: #00c76a;
}

body {
  background-color: var(--background);
  font-family: 'Tapestry', cursive;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: auto 10px;
}

button {
  font-family: 'Tapestry', cursive;
  font-size: 2em;
  background-color: var(--button)
}

.selection-buttons {
  margin: auto;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-rows: repeat(var(--size), minmax(0, 1fr));
  grid-template-columns: repeat(var(--size), minmax(0, 1fr));
  width: 700px;
  height: 700px;
  margin: 20px;
  border: 1px solid var(--black);
  border-radius: 5px;
}
  
.grid-item {
  text-align: center;
  border-radius: 4px;
  border: 1px solid var(--black);
}

.grid-hover {
  background-color: var(--black);
}